{% load get_attribute %}
<div>
    <h1 class="mb-2">Detalhes do registro {{ model_description }}: '{{ object }}'</h1>
    <div>
        {% for field, label in field_names.items %}
            <div class="flex mb-2">
                {{ label }}: {{ object|get_attribute:field }}
            </div>
        {% endfor %}
    </div>

    <td scope="row" class="px-4 py-4 whitespace-nowrap">
        {% for action, icon in control_buttons.items %}
            {% if 'list' in action %}
                <a href="{% url action %}" class="ml-2">
                    <i class="{{ icon }}"></i>
                </a>
            {% else %}
                <a href="{% url action object.id %}" class="ml-2">
                    <i class="{{ icon }}"></i>
                </a>
            {% endif %}
        {% endfor %}
    </td>
</div>