<div class="flex">
    <div class="w-1/5 flex gap-2 justify-start">
        <a href="{% url 'home:index' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
    <div class="w-3/5 flex gap-2 justify-center">
        <a href="{% url 'game:word_registration' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            criar palavra
        </a>
        
        <a href="{% url 'game:word_list' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            lista de palavras
        </a>
        <a href="{% url 'game:joint_registration' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            criar conjunto
        </a>
        
        <a href="{% url 'game:joint_list' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            lista de conjuntos
        </a>

        <a href="{% url 'organization:registration' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            registrar organização
        </a>
        
        {% comment %} <a href="{% url 'organization:organization_list' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            lista de conjuntos
        </a> {% endcomment %}
        
    </div>
    <div class="w-1/5 flex gap-2 justify-end">
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
        </form>
    </div>
</div>
